@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.cuadro {
    clip-path: polygon(50% 0%, 100% 9%, 100% 91%, 50% 100%, 0 91%, 0 9%);
}

.bright-text {
    color: #ffffff; /* Color del texto */
    text-shadow: 
        0 0 5px #ffffff,  
        0 0 3px #ffffff;
}

